<html>
<meta http-equiv="refresh" content="5">
<style>
html { max-width: 60%; 
	margin: 0 auto;
	background: #ffc000;
}

div {
	background: white;
    padding: 20px;
	border-radius: 20px;
	margin-top: 25px;
}

</style>
<body>
	{% for block in chain %}
		<div>
		<h2> Block Height: {{ block['index'] }} </h2>
		<h3> Timestamp: </h3>{{ block['timestamp'] }}
		<h3> Hash of previous block:</h3> {{ block['hash'] }}
		<h3>Transaction 1: </h3> {{ block['trans1']}}
		<h3>Transaction 2: </h3> {{ block['trans2']}}
		<h3>Proof of Work: </h3> {{ block['proof-of-work']}}
		</div>
	{% endfor %}
</body>
</html>
